force-app/main/default/flows/Calculate_Total_number_of_contact_on_account_Method2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_the_Record_Count_to_Variable</name>
        <label>Assign the Record Count to Variable</label>
        <locationX>628</locationX>
        <locationY>88</locationY>
        <assignmentItems>
            <assignToReference>RC_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_List_Of_Contact_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_The_RCCount_number_to_Total_Number_of_contact_Field</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Calculate Total number of contact on account Method2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calculate Total number of contact on account Method2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_List_Of_Contact_Record</name>
        <label>Get List Of Contact Record</label>
        <locationX>438</locationX>
        <locationY>80</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_the_Record_Count_to_Variable</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Accid</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_The_Account_Record</name>
        <label>Get The Account Record</label>
        <locationX>272</locationX>
        <locationY>76</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_List_Of_Contact_Record</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Accid</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>NumberofContact__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_The_RCCount_number_to_Total_Number_of_contact_Field</name>
        <label>Update The RCCount number to Total Number of contact Field</label>
        <locationX>797</locationX>
        <locationY>89</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Accid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NumberofContact__c</field>
            <value>
                <elementReference>RC_Count</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>Get_The_Account_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>Accid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RC_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
