force-app/main/default/flows/Count_the_Total_Contact_record_in_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_the_Contact_into_List</name>
        <label>Assign the Contact into List</label>
        <locationX>873</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>ListofContactId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ObjContact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_the_Contact_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_List_of_contact_into_NumberofContact_field</name>
        <label>Assign the List of contact into NumberofContact field</label>
        <locationX>511</locationX>
        <locationY>306</locationY>
        <assignmentItems>
            <assignToReference>RCCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ListofContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_NumberofContact_field_in_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AccountID_not_equal_to_null</name>
        <label>Validate  the account ID</label>
        <locationX>306</locationX>
        <locationY>81</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AccountIDnotequaltonull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>null</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_The_contact_Record</targetReference>
            </connector>
            <label>AccountID not equal to null</label>
        </rules>
    </decisions>
    <description>Count the Total Contact record in Account</description>
    <interviewLabel>Count the Total Contact record in Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Count the Total Contact record in Account</label>
    <loops>
        <name>Loop_the_Contact_Record</name>
        <label>Loop the Contact Record</label>
        <locationX>672</locationX>
        <locationY>86</locationY>
        <assignNextValueToReference>ObjContact</assignNextValueToReference>
        <collectionReference>ColObjContact</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_the_Contact_into_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_the_List_of_contact_into_NumberofContact_field</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>173</locationX>
        <locationY>77</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AccountID_not_equal_to_null</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>ObjAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>NumberofContact__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_The_contact_Record</name>
        <label>Get The contact Record</label>
        <locationX>488</locationX>
        <locationY>82</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_the_Contact_Record</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObjAccount.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>ColObjContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_NumberofContact_field_in_Account</name>
        <label>Update the NumberofContact field in Account</label>
        <locationX>361</locationX>
        <locationY>288</locationY>
        <inputAssignments>
            <field>NumberofContact__c</field>
            <value>
                <elementReference>RCCount</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>Get_Account_Record</startElementReference>
    <status>Draft</status>
    <variables>
        <name>AccId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ColObjContact</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ListofContactId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ListofContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ObjAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ObjAccount1</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ObjAccout</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ObjContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>RCCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
