force-app/main/default/flows/Generate_Order_in_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_the_opp_field_to_order</name>
        <label>Assign the opp field to order</label>
        <locationX>326</locationX>
        <locationY>147</locationY>
        <assignmentItems>
            <assignToReference>ObjOrder.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObjOpp.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObjOrder.EffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObjOpp.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObjOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Order_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_order_assignment</name>
        <label>Generate order assignment</label>
        <locationX>311</locationX>
        <locationY>378</locationY>
        <assignmentItems>
            <assignToReference>ObjOpp.Generate_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Generate_filed_checbox_in_opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Generate_Order_true</name>
        <label>Generate Order true</label>
        <locationX>318</locationX>
        <locationY>36</locationY>
        <defaultConnectorLabel>Order False</defaultConnectorLabel>
        <rules>
            <name>Order_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjOpp.Generate_Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_the_opp_field_to_order</targetReference>
            </connector>
            <label>Order True</label>
        </rules>
    </decisions>
    <interviewLabel>Generate Order in Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Order in Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Order_Record</name>
        <label>Create Order Record</label>
        <locationX>321</locationX>
        <locationY>269</locationY>
        <connector>
            <targetReference>Generate_order_assignment</targetReference>
        </connector>
        <inputReference>ObjOrder</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get Opportunity Field</description>
        <name>Get_Opportunity_Field</name>
        <label>Get Opportunity Field</label>
        <locationX>171</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generate_Order_true</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>ObjOpp</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CloseDate</queriedFields>
        <queriedFields>Account_Name__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Pricebook2Id</queriedFields>
        <queriedFields>Generate_Order__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Generate_filed_checbox_in_opportunity</name>
        <label>Update Generate filed checkbox in opportunity</label>
        <locationX>545</locationX>
        <locationY>367</locationY>
        <inputReference>ObjOpp</inputReference>
    </recordUpdates>
    <startElementReference>Get_Opportunity_Field</startElementReference>
    <status>Obsolete</status>
    <variables>
        <description>ObjOpp</description>
        <name>ObjOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>ObjOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>OppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
