force-app/main/default/flows/Update_P.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_to_ProductId_to_List</name>
        <label>Assign to ProductId to List</label>
        <locationX>803</locationX>
        <locationY>80</locationY>
        <assignmentItems>
            <assignToReference>ListOfProductIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ObjOrderItem.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_the_Order_Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_the_UnitPrice_for_ObjOpplineitem</name>
        <label>Update the UnitPrice for ObjOpplineitem</label>
        <locationX>628</locationX>
        <locationY>355</locationY>
        <assignmentItems>
            <assignToReference>ObjOppLineItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObjOpp.MO_Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updateopplinetemchanges</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Updateopplinetemchanges</name>
        <label>Updateopplinetemchanges</label>
        <locationX>498</locationX>
        <locationY>391</locationY>
        <assignmentItems>
            <assignToReference>UpdateOppLineItem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ObjOppLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_the_Opportuninty_line_Item</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_the_OpportunityLine_item_exist_in_Order_Line_item</name>
        <label>Check the OpportunityLine item exist in Order Line item</label>
        <locationX>869</locationX>
        <locationY>243</locationY>
        <defaultConnector>
            <targetReference>Loop_the_Opportuninty_line_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opplineitem Not Exist</defaultConnectorLabel>
        <rules>
            <name>OpplineitemExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListOfProductIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>ObjOppLineItem.Product2Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_UnitPrice_for_ObjOpplineitem</targetReference>
            </connector>
            <label>OpplineitemExist</label>
        </rules>
    </decisions>
    <decisions>
        <name>MO_Price_Greater_than_Zero_Decision</name>
        <label>MO Price Greater than Zero Decision</label>
        <locationX>200</locationX>
        <locationY>258</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mo_price_Greater_than_zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjOpp.MO_Price__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObjOpp.Order__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Product</targetReference>
            </connector>
            <label>Mo price Greater than zero</label>
        </rules>
    </decisions>
    <interviewLabel>Update P {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Opp product pricebook to Order product Pricebook</label>
    <loops>
        <name>Loop_the_Opportuninty_line_Item</name>
        <label>Loop the Opportuninty line Item</label>
        <locationX>555</locationX>
        <locationY>203</locationY>
        <assignNextValueToReference>ObjOppLineItem</assignNextValueToReference>
        <collectionReference>ColObjoppLineItem</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_the_OpportunityLine_item_exist_in_Order_Line_item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateOppLineitems</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_the_Order_Line_Item</name>
        <label>Loop the Order Line Item</label>
        <locationX>560</locationX>
        <locationY>59</locationY>
        <assignNextValueToReference>ObjOrderItem</assignNextValueToReference>
        <collectionReference>ColObjOrderItem</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_ProductId_to_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_the_Opportuninty_line_Item</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity_Fields</name>
        <label>Get Opportunity Fields</label>
        <locationX>43</locationX>
        <locationY>246</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MO_Price_Greater_than_Zero_Decision</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Oppid</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>ObjOpp</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Pricebook2Id</queriedFields>
        <queriedFields>MO_Price__c</queriedFields>
        <queriedFields>Order__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Product</name>
        <label>Get Opportunity Product</label>
        <locationX>192</locationX>
        <locationY>64</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Products</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObjOpp.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>ColObjoppLineItem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Products</name>
        <label>Get Order Products</label>
        <locationX>402</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_the_Order_Line_Item</targetReference>
        </connector>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObjOpp.Order__c</elementReference>
            </value>
        </filters>
        <object>OrderItem</object>
        <outputReference>ColObjOrderItem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateOppLineitems</name>
        <label>UpdateOppLineitems</label>
        <locationX>379</locationX>
        <locationY>203</locationY>
        <inputReference>UpdateOppLineItem</inputReference>
    </recordUpdates>
    <startElementReference>Get_Opportunity_Fields</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>ColObjoppLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>ColObjOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>ListOfProductIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ObjOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>ObjOppLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>ObjOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>Oppid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdateOppLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
